header{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
header .nav-menu{
  height: 7rem;
  padding: 0rem 3rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
    display: none;
    list-style: none;
    gap: 4rem;
}

.nav-list li {
    display: block;
}

.nav-list li a{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-body-dark);
}

.nav-list li a:hover{
    color: var(--color-primary);
}

.nav-list li a.active{
    color: var(--color-primary);
}

.btn-contact-us{
    display: none;
    width: 18rem;
    height: 4.6rem;
    padding: 1rem 1rem;
    background-color: var(--color-dark);
    color: var(--white);
    border-radius: .8rem;
    line-height: 2.4rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-toggle-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 4rem;
    height: 4rem;
}

.btn-toggle-menu span{
    width: 90%;
    height: .4rem;
    border-radius: 1rem;
    background-color: var(--color-dark);
}

.btn-toggle-menu span:hover{
    cursor: pointer;
}


@media only screen and (min-width: 1024px) {
    header{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    header .nav-menu{
        padding: 0rem 0rem; 
      }
    
    .btn-toggle-menu{
        display: none;
    }

    .btn-contact-us{
        display: block;
    }

    .nav-list{
        display: flex;
    }

    .nav-list li a{
        font-size: 1.8rem;
    }

    header .nav-menu{
  height: 7rem;
  padding: 3rem 2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
}

@media only screen and (min-width: 1440px) {

}

