header{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
header .nav-menu{
  height: 7rem;
  padding: 3rem 2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header .nav-menu>div:nth-child(2){
    /* display: none; */
}

.nav-list{
    display: none;
    list-style: none;
    gap: 3rem;
}

.nav-list li {
    display: block;
}


.btn-contact-us{
    display: none;
    width: 180px;
    height: 56px;
    padding: 1rem 1rem;
    background-color: #232340;
    color: #fff;
    border-radius: 8px;
    line-height: 20px;
    text-align: center;
}

.btn-toggle-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40px;
    height: 40px;
}

.btn-toggle-menu span{
    width: 90%;
    height: 4px;
    border-radius: 10px;
    background-color: #232340;
}

.btn-toggle-menu span:hover{
    cursor: pointer;
}