
.main-works{
    margin: 0 3rem 5rem 3rem;
}

.work-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-dark);
    word-break: break-all;
}

.work-text-main {
    font-size: 1.6rem;
    color: var(--color-body-light);
    line-height: 2.8rem;
    margin-bottom: 4rem;
}

.works-cards{
    min-height: 60rem;   
    /* background-color: aqua; */
}

.work-card-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.work-title{
  font-size: 2.4rem; 
  font-weight: 700; 
  text-align: left;
}

.work-text {
    font-size: 1.6rem;
    color: var(--color-body-light);
    line-height: 2.8rem;
}

.works-card-1,
.works-card-2,
.works-card-3,
.works-card-4,
.works-card-5{
    display: flex;
    width: 100%;
    min-height: 35.5rem;
    border-radius: 1.7rem;
}

.works-card-1 {
    background-color: var(--color-accent-orange);  
}

.works-card-2 {
    background-color: var(--color-secondary);
}

.works-card-3 {
    background-color: var(--color-accent-orange);
}

.works-card-4 {
    background-color: var(--color-shade-blue);
}

.works-card-5 {
    background-color: var(--color-accent-orange);
}

.works-card-1 img,
.works-card-2 img,
.works-card-3 img,
.works-card-4 img,
.works-card-5 img{
    width: 100%;
}

.btn-works-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border: .1rem solid var(--color-dark);
    border-radius: 50%;
}

.btn-contact-us-work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.6rem;
    border-radius: .8rem;
    background-color:var(--color-primary);
    font-size: 1.6rem;
    text-align: center;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
}



